@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-2"> Current Time: </h1>
    <p>@(DateTime.Now)</p>
    <h2>Please visit us again.</h2>
</div>
